language: objective-c
osx_image: xcode9.3
script:
  - set -o pipefail
  - xcodebuild test -scheme Receiver -sdk iphonesimulator -destination "platform=iOS Simulator,name=iPhone 6s" | xcpretty -c
after_success:
- bash <(curl -s https://codecov.io/bash)
